<style>
    /* Styling for the navigation bar */
    .buttom {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: rgb(18, 13, 13);
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  
    /* Styling for the copyright symbol */
    .copyright {
      font-size: 12px;
      margin-left: 5px;
    }
  </style>
  
  <div class="buttom">
    <span>&copy;</span>
    <span class="copyright">
      2023 Your Company Name. All rights reserved.
    </span>
  </div>
  